<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Localiza tu vehiculo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/images/where-is-my-car.png" alt="" />
      <ion-card-header>
          <ion-card-title>Vayas a donde vayas</ion-card-title>
        <ion-card-subtitle>No olvides de donde has venido</ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        <p>No olvides nunca donde has estacionado tu vehículo.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
